<div class="w-full flex flex-col p-4">
    <div class="w-fit h-fit flex flex-col">
        <label class="font-bold text-2xl" for="username">
            Username
            <input class="rounded" id="username" name="username" type="text" class="form-control">
        </label>
        <label class="font-bold text-2xl mt-2" for="password">
            Password
            <input class="rounded ml-2" id="password" name="password" type="password" class="form-control">
        </label>
        <div class="flex justify-end mt-2">
            <button type="submit" class="rounded px-4 py-2 bg-green-500 hover:bg-green-300">Login</button>
        </div>

    </div>
</div>